# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environments
venv/
.env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Outputs
outputs/